description	"kibana"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on shutdown

respawn
setuid kibana
chdir {{ kibana_dir }}/{{ kibana_package_name }}

exec ./bin/kibana >> {{ kibana_log_file }} 2>&1
